/* global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    border-radius: 5px;
}

html, body {
    height: 100%;
}

#root {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Nanum Gothic', sans-serif;
    background-color: var(--charcoal);
    --charcoal: rgb(20, 20, 20);
    --yellow: rgb(255, 255, 151);
    --yellow30: rgba(255, 255, 151, 0.3);
    --yellow60: rgba(255, 255, 151, 0.6);
    --charcoal2: rgb(50, 50, 50);
    --overlay: rgba(255, 255, 255, 0.1);
}

#root > * {
    border-radius: 0px;
}

button {
    border: none;
    color: inherit;
    background-color: inherit;
    cursor: pointer;
}

a {text-decoration-line: none;}
a:link {color: inherit;}
a:active {color: inherit;}
a:visited {color: inherit;}
a:hover {color: inherit;}

li {
    list-style-type: none;
    display: flex;
}

textarea {
    flex-grow: 1;
    background-color: var(--charcoal);
    color: var(--yellow);
    border: var(--yellow30) solid 1px;
    padding: 5px 10px;
}

input {
    background-color: var(--charcoal);
    color: var(--yellow);
    border: var(--yellow30) solid 1px;
    padding: 5px 10px;
}

select {
    background-color: var(--charcoal);
    color: var(--yellow);
    border: var(--yellow30) solid 1px;
    padding: 5px 10px;
}

select:focus, input:focus, textarea:focus {
    outline: 0;
}

.alert-box {
    margin-top: 5px;
    font-size: 0.8rem;
}

/* navigation bar */

#nav-body {
    background-color: black;
    padding: 0px 20px;
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 0;
}

#nav-title, #nav-btn {
    min-width: 20%;
}

#nav-body * {
    font-family: 'Gugi', cursive;
    color: var(--yellow);
    font-size: 1.5rem;
}

#nav-title {
    font-size: 2rem;
}

#nav-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown * {
    width: 150px;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: black;
}

.dropdown-content * {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#search-bar {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

#search-bar * {
    margin: 5px;
    padding: 5px 10px;
    font-size: 1rem;
    background-color: var(--charcoal);
    color: var(--yellow);
    border: var(--yellow30) solid 1px;
}

#search-input {
    flex-grow: 1;
}

/* login */

#login-body {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--yellow);
    background-color: var(--charcoal);
}

#login-body span {
    display: inline-block;
    min-width: 100px;
    text-align: left;
}

#login-body input {
    padding: 5px 10px;
}

#login-title {
    font-family: 'Gugi', cursive;
    font-size: 5rem;
    padding: 30px 5px;
}

.login-field {
    min-height: 4rem;
}

#login-body a {
    display: block;
    text-align: center;
}

#login-btn {
    padding: 6px 0px;
    min-height: 11rem;
}

#login-btn * {
    width: 100%;
    background-color: var(--charcoal2);
    padding: 10px;
    height: 2.5rem;
    margin: 3px 0px;
}

#login-btn .alert-box {
    background-color: var(--charcoal);
    margin-top: 0px;
    height: 1rem;
    padding: 10px;
}

/* signup */

#signup-body {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--yellow);
    background-color: var(--charcoal);
}

#signup-title {
    font-family: 'Gugi', cursive;
    font-size: 5rem;
    padding: 30px 5px;
}

#signup-body span {
    display: inline-block;
    min-width: 100px;
    text-align: left;
}

#signup-body input {
    padding: 5px 10px;
}

.signup-field {
    min-height: 4rem;
}

#signup-body a {
    display: block;
    text-align: center;
}

#signup-btn {
    padding: 6px 0px;
    min-height: 8rem;
}

#signup-btn * {
    width: 100%;
    background-color: var(--charcoal2);
    padding: 10px;
    height: 2.5rem;
    margin: 3px 0px;
}

#signup-btn .alert-box {
    background-color: var(--charcoal);
    margin-top: 0px;
    height: 1rem;
    padding: 10px;
}

/* main */

#main-body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--charcoal);
    flex-grow: 1;
    color: var(--yellow);
}

#main-body button {
    padding: 15px;
    border: none;
    font-size: 20px;
}

#main-img-container {
    width: 800px;
    height: 450px;
}

#main-body img {
    height: 400px;
}

#main-body img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

/* footer */

#footer-body {
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border: solid black 1px;
    flex-grow: 0;
    color: var(--yellow);
    background-color: black;
    font-family: 'Gugi', cursive;
}

#footer-info span {
    margin: 10px;
}

#footer-title a, #devking {
    font-size: 1.7rem;
}

/* mypage */

#mypage-body {
    flex-grow: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--yellow);
    background-color: var(--charcoal);
    padding: 10px 0px;
}

#mypage-body > div {
    width: 70%;
    background-color: var(--charcoal2);
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 0px;
}

/* mypage-top */

#mypage-top {
    padding: 30px 30px 15px 30px;
    justify-content: flex-start;
}

#mypage-img, #mypage-info {
    background-color: var(--overlay);
    padding: 20px;
}

#mypage-img {
    background-color: var(--charcoal2);
    width: 200px;
    height: 200px;
}

#mypage-body img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

#mypage-info > div {
    display: flex;
}

#mypage-info > .btn-container {
    margin-top: 20px;
}

.mypage-info-label {
    display: inline-block;
    min-width: 100px;
    text-align: left;
}

.mypage-info-input {
    min-width: 200px;
    text-align: left;
    padding: 2px
}

/* mypage-bottom */

#mypage-bottom {
    padding: 15px 30px 30px 30px;
}

#mypage-post-title, 
#mypage-received-request-title, 
#mypage-sent-request-title {
    text-align: center;
    padding-bottom: 10px;
    font-family: 'Jua', sans-serif;
    font-size: 2rem;
}

#mypage-post {
    background-color: var(--overlay);
    padding: 20px;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#mypage-request {
    background-color: var(--overlay);
    padding: 20px;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#post-container {
    height: 100%;
}

#request-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#mypage-request > div > div {
    height: 100%;
}

/* myrequest */

#myrequest-body {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    background-color: var(--charcoal);
    color: var(--yellow);
}

#myrequest-body > div {
    width: 30%;
    background-color: var(--charcoal2);
    padding: 10px 30px;
    margin: 10px;
}

#myrequest-received-request-title,
#myrequest-sent-request-title {
    text-align: center;
    padding: 20px;
    font-family: 'Jua', sans-serif;
    font-size: 2rem;
}

#myrequest-body .prevwbutton-body,
#myrequest-body .prevwstatus-body {
    padding: 20px;
}

#myrequest-body .preview-title {
    padding-left: 30px;
    font-size: 1.4rem;
}

#myrequest-body .prevwstatus-msg {
    font-size: 1rem;
}

/* alter */

#alter-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--yellow);
    background-color: var(--charcoal);
}

#alter-info {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}

#alter-info > * {
    margin: 20px;
}

#alter-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#alter-img > * {
    margin: 10px 0px;
}

#alter-img input {
    width: 100%;
}

#alter-body label, #alter-name-label {
    display: inline-block;
    min-width: 100px;
    text-align: left;
    padding: 2px;
    margin: 0px 15px;
}

#alter-input input, #alter-name-display {
    min-width: 200px;
    text-align: left;
    padding: 5px 10px;
}

#alter-input > div {
    display: flex;
    align-items: center;
    margin: 5px 0px;
    justify-content: flex-end;
}

#alter-btn {
    padding-top: 50px;
    min-height: 11rem;
}

#alter-btn * {
    width: 190px;
    background-color: var(--charcoal2);
    padding: 10px;
    height: 2.5rem;
    margin: 3px 0px;
}

#alter-btn .alert-box {
    text-align: center;
    background-color: var(--charcoal);
    margin-top: 0px;
    height: 1rem;
    padding: 10px;
}

#alter-img-container {
    background-color: var(--charcoal2);
    width: 200px;
    height: 200px;
}

#alter-body img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

/* item */

#item-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-color: var(--charcoal);
    color: var(--yellow);
    padding: 20px 0px;
}

#item-body > * {
    width: 60%;
    background-color: var(--overlay)
}

#item-info-container {
    padding: 30px;
}

#item-title {
    font-size: 2rem;
    padding: 4px;
    margin: 2px;
}

#item-user {
    padding: 4px;
    margin: 2px;
}

hr {
    margin: 20px 0px;
    border-color: var(--yellow30);
}

.item-img-container {
    width: 100%;
    height: 400px;
    margin-bottom: 40px;
}

.item-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: 50% 50%;
}

#item-request-btn {
    padding: 10px 40px;
    border: var(--yellow30) solid 1px;
}

.item-info {
    display: flex;
    padding: 2px;
}

.item-info * {
    margin: 2px;
}

.item-info label {
    display: inline-block;
    min-width: 100px;
    text-align: left;
    padding: 2px;
}

.item-info div {
    text-align: left;
    padding: 2px;
}

/* upload */

#upload-body {
    color: var(--yellow);
    background-color: var(--charcoal);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 30px 0px;
}

.upload-form * {
    display: block;
}

.upload-form-hashtag {
    display: flex;
}

.upload-form-hashtag > ul {
    display: flex;
}

.upload-form-hashtag > ul * {
    display: flex;
}

#upload-body > * {
    width: 60%;
}

#upload-form {
    margin: 20px 0px;
}

#upload-form > div {
    display: flex;
    margin: 5px 0px;
}

#upload-form label {
    display: inline-block;
    min-width: 100px;
    text-align: left;
    padding: 2px;
}

#upload-form input {
    min-width: 200px;
    text-align: left;
    flex-grow: 1;
}

#upload-form-hashtag > div {
    flex-grow: 1;
    height: 4rem;
}

#upload-form-hashtag input {
    width: 100%;
}

#upload-form-hashtag ul {
    display: flex;
}

#upload-form-hashtag li {
    margin: 5px;
    padding: 5px;
    background-color: var(--overlay);
}

#upload-form-hashtag button {
    margin: 0px 5px;
    color: var(--yellow60);
    background-color: transparent;
}

#upload-btn {
    padding: 10px 40px;
}

#upload-img {
    display: flex;
    align-items: flex-end;
}

#upload-img input {
    flex-grow: 1;
    height: 2.5rem;
    margin-left: 20px;
}

#upload-img-container {
    background-color: var(--charcoal2);
    width: 200px;
    height: 200px;
}

#upload-body img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

/* search */

#search-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
    color: var(--yellow);
    background-color: var(--charcoal);
    padding: 20px 0px;
}

#search-results {
    width: 70%;
    padding: 10px 20px;
    background-color: var(--charcoal2);
}

#search-results > div {
    border: var(--yellow30) solid 1px;
    margin: 20px 0px;
    padding: 10px;
    background-color: var(--overlay);
}

#search-body .preview-img-container {
    width: 140px;
    height: 140px;
}

#search-message {
    width: 70%;
    padding: 2px;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 1.4rem;
}

/* preview - global */

.preview-img-container {
    width: 70px;
    height: 70px;
}

.preview-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn-container {
    display: flex;
    justify-content: flex-end;
}

.preview-title {
    flex-grow: 1;
    padding: 20px;
    cursor: pointer;
}

/* preview with title (mypage) */

.prevwtitle-body {
    display: flex;
    align-items: center;
    background-color: var(--overlay);
    padding: 10px 20px;
    margin: 10px 0px;
    min-width: 100%;
}

/* preview with button (mypage, myrequest) */

.prevwbutton-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--overlay);
    padding: 10px;
    margin: 10px;
    min-width: 257px;
}

/* yes/no button (mypage, myrequest) */

.yesnobutton-msg {
    min-width: 120px;
    text-align: center;;
}

.yesnobutton-btn {
    display: flex;
}

.yesnobutton-btn * {
    margin: 5px;
    height: 50px;
    width: 50px;
}

.ok-btn {
    background-color: rgba(92, 128, 92, 0.2);
    color: rgb(85, 255, 85);
}

.no-btn {
    background-color: rgba(243, 139, 139, 0.1);
    color: rgb(255, 0, 0);
}

/* preview with status (mypage, myrequest) */

.prevwstatus-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--overlay);
    padding: 10px;
    margin: 10px;
    min-width: 257px;
}

.prevwstatus-msg {
    font-size: 0.8rem;
}

/* preview with content (content) */

.prevwcontent-body {
    display: flex;
}

.prevwcontent-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 20px;
}

.prevwcontent-info .preview-title {
    flex-grow: 0;
    font-size: 1.4rem;
    padding: 0px;
}

.prevwcontent-nicknameprice,
.prevwcontent-description {
    margin-top: 15px;
}